body {
  background-color: #0b0821;
}

header {
  background-color: #89023E;
  width: 100%;
}

h1 {
  color: #89023E;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 40px;
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #c5840c;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.grid-element2 {
  display: grid;
  grid-column: span 3;
  background-color: #0b0821;
  grid-gap: 20px;
}

.grid-element3 {
  display: grid;
  grid-column: span 3;
  grid-gap: 20px;
}

.grid-element4 {
  display: grid;
  grid-column: span 1;
  background-color: #0b0821;
  grid-gap: 20px;
}

a:hover {
  color: #89023E;
}

.grid-element5 {
  display: grid;
  grid-column: span 1;
  background-color: #0b0821;
  grid-gap: 20px;
}

.grid-element6 {
  display: grid;
  grid-column: span 1;
  background-color: #0b0821;
  grid-gap: 20px;
}

.grid-element7 {
  display: grid;
  grid-column: span 1;
  background-color: #0b0821;
  grid-gap: 20px;
}

.grid-element8 {
  display: grid;
  grid-column: span 1;
  background-color: #0b0821;
  grid-gap: 20px;
}

.grid-element9 {
  display: grid;
  grid-column: span 1;
  color: #c5840c;
  grid-gap: 20px;
}

.grid-element10 {
  display: grid;
  grid-column: span 1;
  color: #c5840c;
  grid-gap: 20px;
}

.grid-element11 {
  display: grid;
  grid-column: span 1;
  color: #c5840c;
  grid-gap: 20px;
}

.grid-element215 {
  display: grid;
  grid-column: span 2;
  color: #c5840c;
  grid-gap: 2px;
  height: 1000px;
}

.grid-element12 {
  display: grid;
  grid-column: span 1;
  color: #c5840c;
  grid-gap: 2px;
  height: 1000px;
}

.grid-element13 {
  display: grid;
  grid-column: span 1;
  color: #c5840c;
  grid-gap: 2px;
  height: 1000px;
}

a:visited, a, a:hover {
  color: #eeaf3a ;
}
a:hover {
  text-decoration: underline;
}
