@font-face {
  font-family: "nier";
  src: url(ITC\ Benguiat\ Book.ttf);
}
html, head 

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./backround2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 2;
}

h1 {
  font-size: 25px;
  font-family: nier;
}
.button {

  text-decoration: none;
}